.home-links {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    margin-top: 80px;
}

.home-links a {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #157250;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}